<style>
    .newspaper {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;

        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    }
</style>

<div id="relatedPost" class="newspaper">

</div>

<script>

    jQuery(document).ready(function () {
        var divRelatedPost = document.getElementById("relatedPost");
        var keyWords = "";
        if (jQuery("#keyword_1") != null && jQuery("#keyword_1")[0] != null && jQuery("#keyword_1")[0].innerHTML != null && jQuery("#keyword_1")[0].innerHTML != "")
            keyWords = jQuery("#keyword_1")[0].innerHTML;
        if (jQuery("#keyword_2") != null && jQuery("#keyword_2")[0] != null && jQuery("#keyword_2")[0].innerHTML != null && jQuery("#keyword_2")[0].innerHTML != "")
            keyWords += "," +jQuery("#keyword_2")[0].innerHTML;
        if (jQuery("#keyword_3") != null && jQuery("#keyword_3")[0] != null && jQuery("#keyword_3")[0].innerHTML != null && jQuery("#keyword_3")[0].innerHTML != "")
            keyWords += "," + jQuery("#keyword_3")[0].innerHTML;


        jQuery.ajax({
            type: "post",
            url: "@Url.Action("ReadRelatedPost","Post")",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'keyWords': keyWords, postID: jQuery("#postIDHidden").val() }),
            success: function (res) {
                for(var i=0; i < res.length; i++){
                    divRelatedPost.innerHTML += res[i];
                }
            }
        });
    });


    //function createArticle(article) {
    //    divRelatedPost.innerHtml += article;
    //    //var article = "<article class='col-md-4 hentry  " + res.Format + " '>" +
    //    //"<div class='post-box'>" +
    //    //    "<div class='entry-cover'>";
    //    //article += "<a href='" + res.URL + "' name='7'>  <img width='290' height='170' src='" + res.Image + "' alt='" + res.Subject + "'>  </a>";
    //    //article += "<div class='post-category'><a href='" + res.URLCategory + "' class='" + res.Category + "'> سوال </a></div>";
    //    //article += "<a href='" + res.URL + "' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>";
    //    //article += "</div>";
    //    //article += "<div class='entry-content'>";
    //    //article += "<h3 class='entry-title'> <a href='" + res.URL + "'>" + res.Subject + "</a></h3>";
    //    //article += "</div>";
    //    //article += "<div class='entry-footer'>";
    //    //article += "<div class=' row'>";
    //    //article += "<div class='col-md-12'>";
    //    //article += "<ul class='common-meta' style='width:auto'>";
    //    //article += "<li>";
    //    //article += "<i class='fa fa-user'></i>";
    //    //article += "<a href='#' title='" + res.Author + "' rel='author'>" + rel.Author + "</a>";
    //    //article += "</li>" +
    //    //                        "<li><i class='fa fa-comment'> 2</i><a href='#'> </a></li>" +
    //    //                        "<li class='post-like'><a href='#'><p class='fa fa-eye'>" + res.Views + "</a></li>" +
    //    //                    "</ul>" +
    //    //                "</div>" +
    //    //            "</div>" +
    //    //        "</div>" +
    //    //    "</div>" +
    //    //"</article>";

     
    //}


    //var article  = "<article class='col-md-4 hentry  format-standard  category-quiz '>"+
    //        "<div class='post-box'>"+
    //            "<div class='entry-cover'>"+
    //                "<a href='/Quiz/Post?PostID=7' name='7'>  <img width='290' height='170' src='https://images.khabaronline.ir/images/2018/9/position38/18-9-24-9184457358287.jpg' alt='جزییات بازداشت خواننده سرشناس در اوایل انقلاب'>  </a>"+
    //                "<div class='post-category'><a href=' quiz/Index' class=' cat-quiz '> سوال </a></div>"+
    //                "<a href='/Quiz/Post?PostID=7' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>"+
    //            "</div>"+
    //            "<div class='entry-content'>"+
    //                "<h3 class='entry-title'> <a href='/Quiz/Post?PostID=7'>جزییات بازداشت خواننده سرشناس در اوایل انقلاب</a></h3>"+
    //            "</div>"+
    //            "<div class='entry-footer'>"+
    //                "<div class=' row'>"+
    //                    "<div class='col-md-12'>"+
    //                        "<ul class='common-meta' style='width:auto'>"+
    //                            "<li>"+
    //                                "<i class='fa fa-user'></i>"+
    //                                "<a href='Admin/ارسلان دانشور' title='ایجادکننده ارسلان دانشور' rel='author'>ارسلان دانشور</a>"+
    //                                "</li>"+
    //                            "<li><i class='fa fa-comment'> 2</i><a href='Comment/7'> </a></li>"+
    //                            "<li class='post-like'><a href='#'><p class='fa fa-eye'> 215</a></li>"+
    //                        "</ul>"+
    //                    "</div>"+
    //                "</div>"+
    //            "</div>"+
    //        "</div>"+
    //    "</article>";
</script>
