<style>
    .newspaper {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;

        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    }
</style>

<div id="relatedPost" class="newspaper">

</div>

<script>

    jQuery(document).ready(function () {
        var divRelatedPost = document.getElementById("relatedPost");
        var keyWords = "";
        if (jQuery("#keyword_1") != null && jQuery("#keyword_1")[0] != null && jQuery("#keyword_1")[0].innerHTML != null && jQuery("#keyword_1")[0].innerHTML != "")
            keyWords = jQuery("#keyword_1")[0].innerHTML;
        if (jQuery("#keyword_2") != null && jQuery("#keyword_2")[0] != null && jQuery("#keyword_2")[0].innerHTML != null && jQuery("#keyword_2")[0].innerHTML != "")
            keyWords += "," +jQuery("#keyword_2")[0].innerHTML;
        if (jQuery("#keyword_3") != null && jQuery("#keyword_3")[0] != null && jQuery("#keyword_3")[0].innerHTML != null && jQuery("#keyword_3")[0].innerHTML != "")
            keyWords += "," + jQuery("#keyword_3")[0].innerHTML;


        jQuery.ajax({
            type: "post",
            url: "@Url.Action("ReadRelatedPost","Post")",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'keyWords': keyWords, postID: jQuery("#postIDHidden").val() }),
            success: function (res) {
                for(var i=0; i < res.length; i++){
                    divRelatedPost.innerHTML += res[i];
                }
            }
        });
    });

</script>
